* {
    padding: 0;
    margin: 0;
}
html,body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: BrianneTod;
    src: url('../Assets/Font/BrianneTod.ttf');
}

@font-face {
    font-family: fzcq;
    src: url('../Assets/Font/fzcq.ttf');
}
@font-face {
    font-family: fzjz;
    src: url('../Assets/Font/fzjz.ttf');
}
@font-face {
    font-family: fzkt;
    src: url('../Assets/Font/fzkt.TTF';
}